
.home #hs-page #hs-content h1 {
    display: none;
}

#hs-site-branding {
    width: 90%;
}

#hs-masthead #hs-site-navigation {
    display: none;
}

.home #hs-content .hs-main-header {
    padding: 50px!important
}
body.single #primary #main .post .entry-content p {
    font-size: 16px;
}
body.single #primary #main .post .entry-content h2 {
    font-weight: bold;
    font-size: 28px;
    color: #3d4a77;
}
#hs-content > header {
    background-color: #6e99aa;
}

.single-post .hs-breadcrumbs,
.page .hs-breadcrumbs,
.archive.tag .hs-breadcrumbs,
.archive.category .hs-breadcrumbs,
.archive.date .hs-breadcrumbs {
    margin-top: 40px;
    font-size: 22px;
    background-color: rgba(51,51,51, 0.9);
    padding: 2%;
}

#hs-content .hs-main-header:after, .slide-banner-overlay {
    background: none;
}

#hs-content > header > div > .hs-main-title {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2f4650;
    font-weight: 600;
}

.hs-site-title {
    background-color: rgba(51,51,51, 0.9);
    padding: 2%;
    padding: 0;
    font-size: 38px;
}

.hs-site-description {
    font-size: 22px;
}

#secondary .widget {
    padding: 20px;
    background-color: #ccc;
}

#secondary .widget-title {
    background-color: #2f4650;
    padding: 10px;
    color: #fff;
}

#secondary  .widget.widget_recent_entries li {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;
}

#secondary  .widget.widget_recent_entries li:hover {
	cursor: pointer;
    background-color: #EE3B24;
}

#secondary  .widget.widget_recent_entries li:hover a {
    color: #fff;
}

article .entry-content p{
    margin: 20px 0;  
 }

body.single #primary #main .post .entry-content h2 {
    margin-top: 5px;
}

article > div > h2:nth-child(2){
    padding: 20px;
    background-color: #ededed;
    overflow: auto;
}

article > div > h2:first-child{
    padding: 20px;
	background-color: #ededed;
	overflow: auto;
}

article > div > h2:not(:first-child){
    padding: 20px;
	background-color: #ededed;
	overflow: auto;
}

article img.alignleft {
    background-color: #2f4650;
    outline: 8px solid #2f4650;
    top: -5px;
    position: relative;
    left: -5px;
}
 
iframe[src^="https://www.youtube.com"] {
    margin: 40px 0;
	outline: 8px solid #ccc;
}


.hs-toggle-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
}

.archive article .entry-meta {
    display: none;
}

.archive article .hs-post-wrapper {
    padding-left: 10px;
}

.archive #main article {
    margin: 10px 0;
}

 .archive #main article:hover a{
    color: #fff;
 }

.archive article .entry-content {
    display: none;
}

.archive article .entry-categories{
    display: none;
}

.archive article .entry-header .entry-title {
    margin: 10px 0;
    padding: 5%;
    background-color: #ededed;
}

.archive article.post .entry-header .entry-title:hover {
    cursor: pointer;
    background-color: #EE3B24;
    color: #fff;

    position: relative;
    left: -15px;
 }

 .archive article.post .entry-header .entry-title:hover:first-letter{
    color: #fff;
 }


 #socialIconsParent {
    position: fixed;
    z-index: 9999999;
    top: 50%!important;
    left: -500px;
    width: 70px!important;
    background-color: #EE3B24!important;
    border: 4px solid #ededed!important;
    padding: 10px;
    overflow: auto;
    text-align: center;
}

#socialIconsParent ul {
	width: auto;
}

#socialIconsParent ul li{
	margin-bottom: 10px;
}

#socialIconsParent ul .arrow i{
    font-size: 22px;
    color: #ededed;
    padding: 0;
    position: relative;
}

#socialIconsParent ul .arrow:hover i{
    color: #fff;
    cursor: pointer;
    left: -5px;
}

#hs-back-top {
    height: 100px;
    width: 100px;
    font-size: 100px;
}

@media screen and (max-width: 700px){
    #socialIconsParent{
        display: none;
    }
}

@media screen and (max-width: 520px){
    #hs-content .hs-main-header {
        background-image: none;
        background-color: #333;
    }

    .home #hs-content .hs-main-header {
        padding: 0!important;
    }

    #hs-masthead .hs-site-title {
        padding: 1%;
        font-size: 22px;
    }

    #hs-masthead .hs-site-description {
        font-size: 14px;
    }

    #hs-content .hs-main-header {
        padding: 0;
    }

    #hs-content .hs-main-header .hs-main-title{
        font-size: 32px;
    }

    .single-post .hs-breadcrumbs,
    .page .hs-breadcrumbs,
    .archive.tag .hs-breadcrumbs,
    .archive.category .hs-breadcrumbs,
    .archive.date .hs-breadcrumbs {
        display: none;
    }

    #main article .entry-content h3 img {
        display: none;
    }

    #main article {
       margin-top: -20px;
    }

    #main article .entry-content img:first-child {
        display: none;
    }
}
